@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");

:root {
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: rgba(14, 31, 39, 1);
  color: rgba(240, 253, 250, 1);
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  height: auto;
}

.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button:hover {
  scale: 120%;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-left: auto;
}
.header__icon {
  display: none;
}

.header__icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  background: transparent;
  display: flex;
  height: 76px;
  background: #557381;
}
.header__background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;

  z-index: -1;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
  background: #557381;
}
.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: end;
}
.policy-terms-header__button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__icon {
  display: none;
}
.header__icon-button {
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 16px;
  position: relative;
}

.navigation__list {
  display: flex;
  flex-direction: column;

  align-items: center;

  top: 130px;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 457px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 999;

  padding: 0px 32px;

  gap: 28px;
  background: #557381;
}
.navigation__list.is-open {
  right: 0;
}
.navigation__link {
  font-family: Orbitron;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0%;

  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: rgba(240, 253, 250, 1);
}
.navigation__link:hover,
.navigation__link:focus {
  font-size: 20px;
}
.header.is-open {
  background-color: transparent;
}
.navigation-img {
  display: none;
}
.header-title {
  width: 244px;
  height: 24px;
}
@media screen and (min-width: 1200px) {
  .navigation-img {
    display: flex;
  }
  .header-title {
    width: 377px;
    height: 40px;
  }
  .policy-terms-header__icon--menu {
    display: none;
  }

  .header {
    width: 100%;

    height: 90px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 1000;
  }
  .header__background {
  }

  .header__icon-button {
    display: none;
  }

  .navigation {
    display: flex;

    flex-direction: row;

    flex: 1;
    padding: 0;

    width: 1440px;
    margin: auto;
  }
  .navigation__list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;

    padding-block: 0;
    flex: 1;
    gap: 0px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
  }
  .navigation__link {
    padding: 0px 10px;
    text-decoration: none;
  }

  .header__icon-home-img {
    display: none;
  }
  .navigation__item-desk {
    display: none;
  }
}

.home {
  width: 375px;
  height: 769px;
  padding: 120px 0px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/home/Frame\ 40060.png");
  margin: auto;
}

.home__container-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-title {
  font-family: Orbitron;
  font-weight: 600;
  font-size: 28px;
  line-height: 36.4px;
  letter-spacing: 0%;
  text-align: center;
  background: rgba(14, 31, 39, 0.6);
  width: 375px;
  height: 128px;
  gap: 10px;
  padding: 10px;
}

.home-text {
  width: 343px;
  height: 104px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.5);
  font-family: Orbitron;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0%;
  text-align: center;
  margin: 80px 0 190px;
  color: rgba(14, 31, 39, 1);
}
.home__google-button_image {
  width: 343px;
  height: 48px;
}
.home__google-button_link:hover .home__google-button_image {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

@media screen and (min-width: 1200px) {
  .home__google-button_image {
    width: 236px;
    height: 56px;
    content: url("/img/home/button.png");
  }
  .home__google-button_link:hover .home__google-button_image {
    content: url("/img/home/bb.png");
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
  }
  .home {
    width: 1440px;
    height: 1006px;
    padding: 150px 0px 0px;
    background-image: url("/img/home/Frame\ 40061.png");
  }

  .home-title {
    font-family: Orbitron;
    font-weight: 600;
    font-size: 48px;
    line-height: 62.4px;
    letter-spacing: 0%;
    width: 1440px;
    height: 82px;
    padding: 10px;
  }

  .home-text {
    width: 876px;
    height: 128px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.5);
    font-family: Orbitron;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: center;
    margin: 180px 0 56px;
  }
}
.about {
  padding: 40px 16px 80px;
  margin: auto;
  width: 375px;
}

.about-title {
  font-family: Orbitron;
  font-weight: 600;
  font-size: 32px;
  line-height: 41.6px;
  letter-spacing: 0%;
  text-align: center;
}
.about-img {
  width: 343px;
  height: 77.2808609008789px;
  margin: 40px 0 16px;
}
.about-text {
  font-family: Orbitron;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0%;
}

@media screen and (min-width: 1200px) {
  .about {
    padding: 60px 71px;
    width: 1440px;
  }
  .about-title {
    font-family: Orbitron;
    font-weight: 600;
    font-size: 48px;
    line-height: 62.4px;
    letter-spacing: 0%;
    text-align: center;
  }
  .about-img {
    width: 1299px;
    height: 292.6759033203125px;

    margin: 56px 0 32px;
  }
  .about-text {
    font-family: Orbitron;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0%;
  }
}
.characters {
  padding: 20px 16px 0;
  margin: auto;
  width: 375px;
  height: 1154px;
  position: relative;
  z-index: 2;
}

.characters::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/img/characters/Frame\ 40060\ \(1\).png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
}

.characters-list {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  gap: 16px;
}
.characters-item {
  width: 343px;
  height: 171px;
  padding: 16px;
  border: 3px solid rgba(24, 204, 186, 1);
  backdrop-filter: blur(100px);
  background: rgba(255, 255, 255, 0.1);
}
.characters-text-bold {
  font-family: Orbitron;
  font-weight: 500;
  font-size: 24px;
  line-height: 31.2px;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(24, 204, 186, 1);
}
.characters-text {
  font-family: Orbitron;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;

  padding-top: 12px;
}

@media screen and (min-width: 1200px) {
  .characters {
    padding: 60px 71px 0;
    width: 1440px;
    height: 772px;
    background-image: url("/img/characters/Frame\ 40061\ \(5\).png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .characters::before {
    background-image: url("/img/characters//Frame\ 40061\ \(2\).png");
  }

  .characters-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 56px;
    gap: 24px;
    justify-content: center;
  }
  .characters-item {
    width: 416px;
    height: 194px;
  }
  .characters-text-bold {
    font-family: Orbitron;
    font-weight: 500;
    font-size: 32px;
    line-height: 41.6px;
    letter-spacing: 0%;
    text-align: center;
  }
  .characters-text {
    font-family: Orbitron;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0%;
  }
}
.reviews {
  width: 375px;
  height: 490px;

  margin: auto;
  padding: 64px 16px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-image: url("/img/reviews/Frame\ 40061\ \(6\).png");
}

.reviews-list {
  padding: 40px 0 24px;
}
.reviews-item {
  margin: 0 5px;
  width: 343px;
  height: 214px;
  padding: 12px;
  background: rgba(109, 131, 135, 1);
}
.reviews-item-two {
  width: 319px;
  height: 190px;
  padding: 12px;
  background: linear-gradient(270deg, #5da4a8 0%, #48727f 50%, #5da4a8 100%);
}
.reviews-item-top {
  display: flex;

  align-items: center;
  justify-content: space-between;
}
.reviews-text-bold {
  font-family: Orbitron;
  font-weight: 500;
  font-size: 18px;
  line-height: 23.4px;
  letter-spacing: 0%;
}
.reviews-text {
  font-family: Orbitron;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0%;
  padding-top: 8px;
}

@media screen and (min-width: 1200px) {
  .reviews {
    width: 1440px;
    height: 592px;
    padding: 84px 80px 0;
    background-image: url("/img/reviews/Frame\ 40061\ \(7\).png");
  }

  .reviews-list {
    padding: 60px 0 24px;
  }
  .reviews-item {
    margin: 0 12px;
    width: 636px;
    height: 230px;
    padding: 16px;
  }
  .reviews-item-two {
    width: 604px;
    height: 198px;
    padding: 16px;
  }

  .reviews-text-bold {
    font-family: Orbitron;
    font-weight: 500;
    font-size: 32px;
    line-height: 41.6px;
    letter-spacing: 0%;
  }
  .reviews-text {
    font-family: Orbitron;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0%;
    padding-top: 16px;
  }
}

.faq {
  padding: 0px 16px 30px;
  margin: auto;
  width: 375px;
}
.faq-container {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.faq-item {
  background: rgba(42, 120, 144, 1);
  padding: 16px;
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-family: Orbitron;
  font-weight: 500;
  font-size: 18px;
  line-height: 23.4px;
  letter-spacing: 0%;
}

.toggle-button {
  background: none;
  border: none;

  cursor: pointer;
}
.toggle-button img {
  width: 44px;
  height: 44px;
}

.faq-answer {
  display: none;
  padding-top: 12px;
  font-family: Orbitron;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0%;
}
@media screen and (min-width: 1200px) {
  .faq {
    padding: 60px 71px;
    width: 1440px;
    background-image: url("/img/faq/Frame\ 40060\ \(2\).png");
  }
  .faq-container {
    padding-top: 56px;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .faq-question {
    font-family: Orbitron;
    font-weight: 500;
    font-size: 32px;
    line-height: 41.6px;
    letter-spacing: 0%;
    text-align: center;
  }

  .toggle-button img {
    width: 60px;
    height: 60px;
  }

  .faq-answer {
    font-family: Orbitron;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0%;
  }
}
.gallery {
  width: 375px;
  height: 370px;

  margin: auto;
  padding: 0px 16px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/gallery/Frame\ 40063.png");
}

.gallery__list {
  padding: 40px 0 24px;
}
.gallery__item {
  width: 343px;
  height: 166px;
  gap: 16px;

  overflow: hidden;
  position: relative;
  margin: 0 10px;
}

.gallery__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

@media screen and (min-width: 1200px) {
  .gallery {
    width: 1440px;
    height: 553px;
    padding: 0px;
    background-image: url("/img/gallery/Frame\ 40064.png");
  }

  .gallery__item {
    width: 501px;
    height: 340px;

    padding: 50px 0px;
    margin: 20px;
  }
  .gallery__list .slick-center {
    transform: scale(1.2);
    transition: transform 0.3s ease-in-out;
    position: relative;
    z-index: 2;
  }

  .gallery__list {
    width: auto;
    padding: 30px 0 6px;
  }
}
.features {
  width: 375px;
  margin: auto;
  padding: 40px 16px;
}

.features-list {
  padding: 40px 0 24px;
}
.features-item {
  margin: 0 5px;
  width: 343px;
  height: 191px;
  gap: 10px;
  padding: 12px;
  background: rgba(109, 131, 135, 1);
  transition: all 0.3s ease-in-out;
}
.features-item:hover {
  background: rgba(72, 112, 120, 1);
}
.features-item-two {
  padding: 16px;
  width: 319px;
  height: 167px;
  padding: 16px;
  background: linear-gradient(270deg, #5da4a8 0%, #48727f 50%, #5da4a8 100%);
}

.features-text-bold {
  font-family: Orbitron;
  font-weight: 600;
  font-size: 18px;
  line-height: 23.4px;
  letter-spacing: 0%;
}
.features-text {
  font-family: Orbitron;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  padding-top: 16px;
}
.slick-dots li button:before {
  display: none;
}
.slick-dots {
  display: flex;
  justify-content: center;
}

.slick-dots li {
  list-style: none;
  width: 24px;
  height: 24px;
}

.slick-dots li button {
  width: 100%;
  height: 100%;
  border: none;
  background: url("/img/Ellipse\ 4.png") no-repeat center/cover;
  font-size: 0;
}

.slick-dots li.slick-active button {
  background: url("/img/Ellipse\ 2.png") no-repeat center/cover;
}
.features-lists {
  display: none;
}
@media screen and (min-width: 1200px) {
  .features {
    width: 1440px;
    margin: auto;
    padding: 82px 71px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("/img/Frame\ 40061\ \(1\).png");
  }

  .features-list {
    display: none;
  }
  .features-lists {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    padding-top: 56px;
  }
  .features-item {
    margin: 0;
    width: 415px;
    height: 272px;
    padding: 16px;
  }
  .features-item:hover {
    background: rgba(72, 112, 120, 1);
  }
  .features-item-two {
    width: 383px;
    height: 240px;
  }

  .features-text-bold {
    font-family: Orbitron;
    font-weight: 500;
    font-size: 32px;
    line-height: 41.6px;
    letter-spacing: 0%;
    height: 84px;
  }
  .features-text {
    font-family: Orbitron;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0%;
  }
}
.footer {
  background: rgba(156, 201, 221, 0.5);
  padding: 40px 32px;
}
.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.footer-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.footer-text {
  font-family: Orbitron;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0%;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-offset: Auto;
  text-decoration-thickness: Auto;
  text-decoration-skip-ink: auto;

  color: rgba(240, 253, 250, 1);
}

.footer-copyright {
  font-family: Orbitron;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0%;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .footer {
    padding: 40px 0px;
  }
  .footer-container {
    gap: 16px;
  }

  .footer-wrapper {
    display: flex;
    flex-direction: row;

    gap: 24px;
  }
  .footer-text {
    font-family: Orbitron;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0%;
  }

  .footer-copyright {
    font-family: Orbitron;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0%;
    text-align: center;
  }
}
.policy-terms-container {
  padding: 116px 16px 63px;
}
.policy-terms-title {
  font-family: Orbitron;
  font-weight: 700;
  font-size: 28px;
  line-height: 42px;
  letter-spacing: 0%;
  text-align: center;
}

.policy-terms-text {
  font-family: Orbitron;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0%;

  padding-top: 20px;
}
.policy-terms-texts {
  font-family: Orbitron;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0%;

  padding-top: 8px;
}
.policy-terms-text-one {
  font-family: Orbitron;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0%;

  padding-top: 20px;
}

.terms-list {
  list-style-type: disc;

  padding: 20px 0 20px 25px;
  font-family: Orbitron;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0%;

  display: flex;
  flex-direction: column;
}

.terms-lists {
  list-style-type: disc;

  padding-left: 25px;
  font-family: Orbitron;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0%;
}
.email-link {
  color: inherit;
  text-decoration: none;
}
.email-link-color {
  color: inherit;
  text-decoration: none;
}
@media screen and (min-width: 1200px) {
  .policy-terms-container {
    padding: 176px 72px 121px;
  }
  .policy-terms-title {
    font-family: Orbitron;
    font-weight: 600;
    font-size: 48px;
    line-height: 62.4px;
    letter-spacing: 0%;
    text-align: center;
  }

  .policy-terms-text {
    font-family: Orbitron;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0%;

    padding-top: 40px;
  }
  .policy-terms-texts {
    font-family: Orbitron;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0%;
  }
  .policy-terms-text-one {
    font-family: Orbitron;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0%;

    padding-top: 30px;
  }

  .terms-list {
    list-style-type: disc;

    padding: 20px 0 20px 25px;
    font-family: Orbitron;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0%;

    display: flex;
    flex-direction: column;
  }

  .terms-lists {
    list-style-type: disc;

    font-family: Orbitron;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0%;
  }
}

.cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 375px;
  border-radius: 24px;
  padding: 16px 20px;
  background: rgba(103, 172, 201, 1);

  text-align: center;
  z-index: 1000;

  display: none;
}

.cookie-popup-text-two {
  font-family: Orbitron;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0%;
  text-align: left;
  color: rgba(240, 253, 250, 1);
}
.cookie-button-container {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.cookie-button {
  font-family: Orbitron;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  color: rgba(240, 253, 250, 1);
  background-color: transparent;
  border: 1px solid rgba(0, 134, 212, 1);
  width: 163px;
  height: 44px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 14px;
}
#accept-cookies {
  background: rgba(25, 59, 84, 1);
  color: rgba(248, 251, 252, 1);
}
.close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}
.cookie-popup-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
@media screen and (min-width: 1200px) {
  .cookie-popup-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 300px;
  }
  .cookie-popup-text-two {
    font-family: Orbitron;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0%;
    width: 595px;
  }
  .cookie-button-container {
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 16px;
  }
  .cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1440px;
    padding: 20px 30px;
    display: none;
  }
}
